[submodule "cacti"]
	path = cacti
	url = https://github.com/HewlettPackard/cacti.git
[submodule "nvmain"]
	path = nvmain
	url = https://github.com/shikhartuli/nvmain.git
[submodule "training/training/VQA"]
	path = training/training/VQA
	url = https://github.com/GT-Vision-Lab/VQA.git
[submodule "training/dataset/VQA"]
	path = training/dataset/VQA
	url = https://github.com/GT-Vision-Lab/VQA.git
